button {
  padding: 5%;
}

h1 {
  text-align: center;
}

.main-shop .products .card-list {
  display: flex;
  flex-direction: row;
}

.main-shop .shopping-carts .cart-list {
  display: flex;
  flex-direction: row;
}

.main-shop .shopping-carts .cart-list .cart-shop {
  min-width: 10em;
  border: 1px solid lightblue;
  padding: 2%;
  margin: 5px;
}

.main-shop .shopping-carts .cart-list .cart-shop button {
  margin-right: 5px;
}